* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
/* Index */

/* Header */

.header--nav {
  display: flex;
  justify-content: center;
}

.header--nav ul a:hover{
  padding: 6px;
  color: rgb(228, 12, 228)  ;
}

.header--nav__icoNav {
  visibility: hidden;
}

.header--div {
  display: flex;
  justify-content: center;
  padding: 10px;
}


.header--nav__icoNav {
  visibility: hidden;
}

.header--nav__menuH {
  transition: 200ms;
}
/* /Header */

/* Main */
body {
  background-image: linear-gradient(
    180deg,
    #ffb8eb 0,
    #ffafe6 16.67%,
    #ffa7df 33.33%,
    #f29dd5 50%,
    #db93ca 66.67%,
    #c58bc0 83.33%,
    #b283b6 100%
  );
  font-family: "Rubik", sans-serif;
}
/* /Main */

/*  /Index */

/* Contactos  */

.divisor2 {
  display: flex;
  justify-content: center;
  padding-top: 179px;
}

h1 {
  color: black;
  font-size: 45px;
}

a {
  color: black;
  text-decoration: none;
}


@keyframes slide {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/* /Contactos */
.menu li a {
  padding: 10px;
}
.menu li a:hover {
  color: pink;
  background-color: black;
  background-size: 400px;
  border-radius: 6px;
}

.parrafo {
  text-align: center;
  line-height: 1.5rem;
  margin: 20px;
  font-size: 1.1rem;
}

/* Footer */
footer {
  padding: 20px;
  background-color: #010051;
  margin-top: auto;
}

footer p {
  display: inline-block;
  position: relative;
  bottom: 8px;
  margin-left: 10px;
  color: violet;
}

.instagram {
  display: inline-flex;
  float: right;
}

.pinterest {
  display: inline-flex;
  float: right;
  margin-right: 1rem;
}

.correo {
  display: inline-flex;
  float: right;
  margin-right: 1rem;
}

i {
  font-size: 27px;
}
/* /Footer */

/*  Productos */
.productos-img {
  justify-content: center;
  padding: 30px;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
}

.img-div img {
  margin: 20px;
  border-radius: 15px;
  transition: transform 0.2s;
}

.img-div p {
  display: flex;
  padding-left: 20px;
}

.nombre-producto {
  font-size: 20px;
  font-weight: 400px;
  margin: 0;
  padding: 0;
}

.precio-producto {
  color: #010051;
  font-size: 30px;
  margin: 5px;
}

.img-div img:hover {
  transform: scale(1.1);
}
/* /Productos */

/* Novedades */
.novedad {
  color: black;
  margin-top: 20px;
  margin-left: 30px;
}
/* /Novedades */

/* DUDOSO*/
.formulario {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
}

.formulario h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.formulario form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .username {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.username input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16 px;
  border: none;
  background: none;
  outline: none;
  transition: 0.5s;
}

.username label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

.username span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #6c3483;
  transition: 0.5s;
}

.username input:focus ~ label,
.username input:focus ~ label {
  top: -5px;
  color: #6c3483;
}

.username input:focus ~ span::before,
.username input:focus ~ span::before {
  width: 100%;
}

.recordar {
  margin: -5px 0 20px 5px;
  color: blue;
  cursor: pointer;
}

.recordar:hover {
  text-decoration: underline;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background-color: #6c3483;
  border-radius: 25px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  outline: none;
}

.btn input[type="submit"] {
  position: relative;
  top: -20px;
  width: 100%;
  height: 50px;
  border: 1px solid;
  background-color: #6c3483;
  border-radius: 25px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  border-color: black;
  transition: 0.5s;
}

.registrarse {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: black;
}

.registrarse a {
  color: blue;
  text-decoration: none;
}

.registrarse a:hover {
  text-decoration: underline;
}
/* DUDOSO */


/* Media Query */
@media screen and (max-width: 991px) {
  .nav {
    margin-top: 15px;
  }

  .header--nav__icoNav {
    visibility: visible;
  }

  .header--img__superior {
    visibility: hidden;
  }

  .header--div {
    padding: 0;
    height: 2px;
  }

  .nav {
    padding-top: 0px;
  }

  .nav--carrito {
    display: flex;
    position: absolute;
    right: 125px;
    top: 2px;
    visibility: visible;
  }

  .nav--img__carrito {
    display: flex;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  

  .header--nav{
    display: inline-block;
    
  }
}
/* /Media Query */

