header .contenerdor {
  display: flex;
  justify-content: center; }

header .header--div {
  display: flex;
  justify-content: center;
  padding: 10px; }

header .header--nav__icoNav {
  display: flex;
  justify-content: center;
  visibility: hidden; }

header .header--menu__menuH {
  transition: 200ms; }

header .header--nav ul {
  display: flex;
  justify-content: center; }
  header .header--nav ul a:hover {
    padding: 6px;
    color: #e40ce4; }

body {
  background-image: linear-gradient(180deg, #ffb8eb 0, #ffafe6 16.67%, #ffa7df 33.33%, #f29dd5 50%, #db93ca 66.67%, #c58bc0 83.33%, #b283b6 100%);
  background-repeat: no-repeat;
  background-attachment: fixed; }

main .parrafo {
  margin: 30px;
  letter-spacing: 1,4px; }
  main .parrafo .btn {
    margin-top: 15px;
    margin-left: 10px;
    background-color: #010051;
    border: none;
    color: violet; }

/* Pagina Productos*/
/* Main */
main .productos-img {
  justify-content: center;
  padding: 30px;
  margin: 30px;
  display: flex;
  flex-wrap: wrap; }
  main .productos-img .img-div img {
    margin: 20px;
    border-radius: 15px;
    transition: transform 0.2s; }
    main .productos-img .img-div img:hover {
      transform: scale(1.1); }
  main .productos-img .img-div p {
    display: flex;
    padding-left: 20px; }
  main .productos-img .nombre-producto {
    font-size: 20px;
    font-weight: 400px;
    margin: 0px;
    padding: 0px; }
  main .productos-img .precio-producto {
    color: #010051;
    font-size: 30px;
    margin: 5px; }

/* /Main */
/* /Pagina /Productos*/
/* Pagina Novedades*/
/* Main Novedades */
main .novedad {
  color: black;
  margin-top: 20px;
  margin-left: 30px; }

/* /Main Novedades */
/* /Pagina Novedades*/
/* Pagina Contacto */
/* Main Contacto */
main .main--titulo-c {
  display: flex;
  justify-content: center; }

main .main--texto-c, main .main--texto-correo-c, main .main--texto-numero-c, main .main--texto-gracias-c {
  display: flex;
  margin: 10px 25px; }

main .main--formulario--contacto-c {
  position: relative;
  top: 10px;
  height: calc(100vh + 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding: 20px; }
  main .main--formulario--contacto-c .form {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    main .main--formulario--contacto-c .form form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
    main .main--formulario--contacto-c .form h1 {
      text-align: center;
      margin-bottom: 20px;
      width: 100%; }

main .flex-rev {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10px;
  width: 100%; }
  main .flex-rev input, main .flex-rev textarea {
    border: none;
    background-color: white;
    padding: 12px 10px;
    font-size: 16px;
    resize: none;
    margin-top: 7px;
    margin-bottom: 16px;
    border-radius: 5px;
    color: #243342;
    outline-color: purple;
    outline-width: thin; }
  main .flex-rev textarea {
    height: 150px; }

main .main--btn-c {
  display: inline-block;
  padding: 14px 30px;
  color: #243342;
  letter-spacing: 1.2px;
  border: 1px solid #243342;
  border-radius: 7px;
  margin-right: 20px;
  transition: 0.15s ease-in-out;
  color: white;
  background: #243342;
  display: inline-block; }
  main .main--btn-c:hover {
    cursor: pointer; }

/* /Main Contacto */
/* /Pagina Contacto */
/* Pagina Quienes */
/* Main */
main .main--img-q {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%; }
  main .main--img-q .foto-central {
    display: flex;
    width: 83%;
    height: 200px;
    background-size: cover;
    margin: 0px auto; }
  main .main--img-q .quienes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: violet; }

main .main--texto-q {
  display: flex;
  margin: 10px 25px;
  padding-top: 50px;
  padding-bottom: 200px; }

/* /Main */
/* /Pagina Quienes */
footer {
  padding: 20px;
  background-color: #010051;
  margin-top: auto;
  border: none; }
  footer .footer--contenedor {
    margin: 0px;
    display: d; }
  footer .footer--copyright .footer--copyright__texto {
    color: violet; }
  footer .footer--ico {
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: center; }
  footer .footer--ico {
    margin: 0px;
    display: flex;
    position: relative;
    top: -25px; }
  footer i {
    font-size: 27px; }

/* Media Query contacto */
@media screen and (max-width: 390px) {
  main .main--formulario--contacto-c .form {
    display: flex;
    width: 70%; }
  main .main--formulario--contacto-c .main--btn-c {
    margin: 0px auto; } }

@media screen and (max-width: 378px) {
  main .main--formulario--contacto-c .form {
    display: flex;
    width: 70%; }
  main .main--formulario--contacto-c .main--btn-c {
    margin: 0px auto; }
  .footer--ico {
    padding-left: 61%; } }

@media screen and (max-width: 360px) {
  main .main--formulario--contacto-c .form {
    display: flex;
    width: 70%; }
  main .main--formulario--contacto-c .main--btn-c {
    margin: 0px auto; }
  .footer--ico {
    padding-left: 61%; } }

/* /Media Query contacto */
