footer {
  padding: 20px;
  background-color: $foot;
  margin-top: auto;
  border: none;
  .footer--contenedor {
    margin: $mar;
  }

  .footer--copyright {
    .footer--copyright__texto {
      color: violet;
    }
  } 

  .footer--ico {
    display: $d;
    justify-content: space-between;
  }
  
  i {
    font-size: 27px;
  }
}

/* /Footer */