
/* Media Query contacto */
@media  screen and (max-width: 390px) {
  main{
    .main--formulario--contacto-c{

      .form{
        display: $d;
        width: 70%
      }

      .main--btn-c{
        margin: 0px auto;
      }
    }
  } 
}

@media  screen and (max-width: 378px) {
  main{
    .main--formulario--contacto-c{

      .form{
        display: $d;
        width: 70%
      }

      .main--btn-c{
        margin: 0px auto;
      }
    }
  } 

 .footer--ico{
    padding-left: 61%;
  }
}

@media  screen and (max-width: 360px) {
  main{
    .main--formulario--contacto-c{

      .form{
        display: $d;
        width: 70%
      }

      .main--btn-c{
        margin: 0px auto;
      }
    }
  } 

 .footer--ico{
    padding-left: 61%;
  }
}
/* /Media Query contacto */